.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}
